body{
    background: #E5E5E5;
}
$blue: #2196F3;
$green: #10B56B;
.wrapper {
    margin: 0 auto;
    max-width: 360px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
header{
    position: relative;
    margin: 0;
    padding: 0;

    .back{
        position: absolute;
        z-index: 1;
        top: 16px;
        left: 16px;
        display: flex;
        height: 36px;
        width: 36px;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        transition-duration: .3s;
        &:hover{
            background: rgba(255, 255, 255, 0.6);
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);

        }
    }
}

.profile{
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px 10px 0 0;
    margin-top: -38px;
    position: relative;
    padding: 16px;
    h1{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin: 0 8px;
        position: relative;
        &::before{
            content: '';
            width: 7px;
            height: 7px;
            background: $green;
            border-radius: 50%;
            position: absolute;
            display: block;
            top: 50%;
            margin-top: -3.5px;
            right: -16px;
        }
    }
    .check{
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // width: 20px;
        // height: 20px;
        // background: $blue;
        // border-radius: 50%;
    }
    .name{
        display: flex;
        align-items: center;
        margin-bottom: 20px;

    }
    .about{
        margin: 20px 0;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -4px;
        &.more_padding{
            margin: 0;
        }
    }
    .item{
        background: #F4F4F4;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
        height: 32px;
        line-height: 32px;
        margin: 0 4px 8px;
        p{
            color: #848484;
            margin-left: 8px;
        }
        &.active{
            background: $blue;
            img{
                fill: #fff;
            }
            p{
                color: #fff;
            }
        }

    }
    .info{
        margin: 12px 0;
        p{
            font-size: 20px;
            line-height: 24px;
            color: #000000;
        }
    }
    .other{
        img{
            margin-right: 12px;
            margin-top: 3px;
        }
        .flex{
            display: flex;
            align-items: end;

        }
        p{
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            &.gray{
                font-size: 16px;
                line-height: 20px;
                color: #848484;
                margin-top: 16px;
                margin-bottom: 4px;
            }
        }
        .more_padding{
            p.gray{
                margin-bottom: 7px;
            }
        }
    }
}
footer{
    background: #fff;
    padding: 20px 16px 32px;
    text-align: center;
    .report{
        width: 100%;
        height: 48px;
        line-height: 48px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #848484;
        background: #fff;
        border: 1px solid #848484;
        box-sizing: border-box;
        border-radius: 8px;
    }
    .like{
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        margin: 24px auto 0;
        transition-duration: .3s;
        &:hover{
            box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.3);

        }
    }
}
